* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: fixed;
    width: 100%;
    background: white;
}

#div-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 8rem;
        }
}

#funcionaporfavor {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-inline: auto;
    padding: 0 1rem;
    align-items: center;
    height: 5.5rem;
}

#ola-turquia {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#cultura {
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.4rem;
}

#turquesa {
    background-color: #d0f4ee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0;
    margin: 0;
    height: 3rem;
}

#turquesa ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 0.2rem;
    justify-content: center;
}

#turquesa a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

#turquesa a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

main {
    padding-top: 10rem;
}

main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

main h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    margin: 10px 0; 
}

#curiosidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

#curiosidades iframe {
    width: 100%;
    max-width: 85rem;
    height: 48rem;
    border-radius: 2rem;
}

.footer {
    background: #d2f4f1;
    text-align: center;
    padding: 3.5rem 2rem;
    font-family: Arial, sans-serif;
    color: #000;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.flag {
    width: 4rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2rem;
}

.footer-social .icons {
    display: flex;
    gap: 1.2rem;
}

.footer-social img {
    width: 2.2rem;
    height: 2.2rem;
}

hr {
    border: none;
    border-top: 0.1rem solid #000;
    width: 90%;
    margin: 1.5rem auto;
}

copyright {
    font-size: 1.2rem;
    line-height: 1.4;
}
#cultura2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.4rem;
}

.imagens {
    display: block;
    margin: 0 auto;
    width: 50rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
