* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: fixed;
    width: 100%;
    background: white;
}

#div-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 8rem;
        }
}

#funcionaporfavor {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-inline: auto;
    padding: 0 1rem;
    align-items: center;
    height: 5.5rem;
}

#ola-turquia {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#cultura {
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.6rem;
}

#turquesa {
    background-color: #d0f4ee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0;
    margin: 0;
    height: 3rem;
}

#turquesa ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 0.2rem;
    justify-content: center;
}

#turquesa a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

#turquesa a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

main {
    padding-top: 10rem;
    font-family: 'Montserrat', sans-serif;
}

#economia-pagina{
    background: #d0f4ee;
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 1rem;
    max-width: 85rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}

#economia-pagina h1{
    font-size: 4rem;
    font-weight: 600;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#4c525e;
    padding: 0.5rem;
}

#economia{
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    padding: 4rem;
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    max-width: 80rem;
    max-height: 99%;
    border-radius: 1rem;
    text-align: left;
    justify-content: center;
    align-items: center;
}

#economia p{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;


}

#economia h2{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;

}

#economia h3{
    font-size: 1.9rem;
    font-family: Arial, Helvetica, sans-serif;

}

.lira{
    display: block;
    margin: 0 auto;
    width: 50rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lira{
    font-style: italic;
    text-align: center; 
}

.colheita{
    display: block;
    margin: 0 auto;
    width: 50rem;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.colheita{
        font-style: italic;
        text-align: center;
    }

li{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background: #d2f4f1;
    text-align: center;
    padding: 3.5rem 2rem;
    font-family: Arial, sans-serif;
    color: #000;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.flag {
    width: 5rem;
}

.tentandoresolverodiabodofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-social img {
    width: 2.7rem;
    height: 2.7rem;
    margin-left: 2rem;
}

hr {
    border: none;
    border-top: 0.1rem solid #000;
    width: 90%;
    margin: 1.5rem auto;
}

.copyright {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 2rem;
}

.lateral{
    padding: 2rem;
    margin-top: 0rem;
}

#bottom{
    margin-bottom: -2.5rem;
    margin-top: -0.5rem;
}

@media(max-width: 760px) {
    body {
        padding-inline: 1rem;
    }
}