* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: fixed;
    width: 100%;
    background: white;
}

#div-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 8rem;
        }
}

#funcionaporfavor {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-inline: auto;
    padding: 0 1rem;
    align-items: center;
    height: 5.5rem;
}

#ola-turquia {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#cultura {
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.2rem;
}

#turquesa {
    background-color: #d0f4ee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0;
    margin: 0;
    height: 3rem;
}

#turquesa ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 0.2rem;
    justify-content: center;
}

#turquesa a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

#turquesa a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

main {
    padding-top: 10rem;
}

section {
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    text-align: left;
}

.historiaid h1,
.historiaid h2,
.historiaid h3,
.historiaid p{

    text-align: left;
}

.globo{
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.cidade{
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.mapa{
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.exercito{
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}



p{
    text-align: center;
}