@import url('https://fonts.cdnfonts.com/css/garet');
@import url('https://fonts.cdnfonts.com/css/telegraf');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #faf6f3;
}

:root{
    font-size: 62.5%;
}

header{
    background: #ffffff;
    font-size: 1.2rem;

    .ola-turquia{
    font-family: 'Garet', sans-serif;
    font-weight: 100;
    color:#000000;
    }

    .login{ 
        font-family: 'Telegraf', sans-serif ;
        color: #7d7d7d;
        font-weight: 400;
        

        a{
            text-decoration: none;
            color: #7d7d7d;
            font-weight: 700;
           
        }
    }
}