*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
header{
    display: flex;
}
.logo img{
    width: 6.5rem;
}

.ola-turquia{
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.se-aprofunde{}

.signup a{
    text-decoration: none;
    underline
}

footer {
    background-color: #d0f5ee;
    color: black;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}