* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    position: fixed;
    width: 100%;
    background: white;
}

#div-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 8rem;
    }
}

#funcionaporfavor {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin-inline: auto;
    padding: 0 1rem;
    align-items: center;
    height: 5.5rem;
}

#ola-turquia {
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#cultura {
    font-family: 'Montserrat', sans-serif;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.2rem;
}

#turquesa {
    background-color: #d0f4ee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.2rem 0;
    margin: 0;
    height: 3rem;
}

#turquesa ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-top: 0.2rem;
    justify-content: center;
}

#turquesa a {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

main {
    padding-top: 10rem;
}


footer {
    background-color: #222;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}